@import url('https://fonts.googleapis.com/css?family=Poiret+One|Roboto:300,400');


html, body {
	--main-color: #FAFAFA;
	--secondary-color: #0099cc;
	--btn: #FDFFFC;
}
.user__card {
	min-width: 25em; /* 400px */
	height: 32em; /* 600px */
    border-radius: 10px; /* 20px */
    margin-bottom: 10px;
}
.bg {
	width: 100%;
	height: 30%;
	text-align: center;
	background-color: #ed1c24;
	position: relative;
}
.bg .perfil {
	display: inline-block;
	width: 180px;
	height: 180px;
	border-radius: 50%;
	position: relative;
  background: #141414;
	border: 4px solid var(--main-color);
	top: 50px;
	overflow: hidden;
	z-index: 10;
}
.bg .perfil i {
  color: #fff;
  font-size: 10.7em;
  transition: all .25s ease;
}
.bg .perfil::after {
	content: "";
	width: 35px;
	height: 100%;
	background: rgba(255,255,255,0.35);
	position: absolute;
	right: -50%;
	top: 0;
	transform: skewX(45deg);
	transition: all 0.35s linear;
}
.user__card:hover .bg .perfil::after {
	right: 130%;
	transition: all 0.45s linear;
	transition-delay: 0.4s;
}
.user__card:hover .bg .perfil i {
	transform: scale(1.1);
  transition: all .25s ease;
}

.main__content {
	width: 100%;
	height: 70%;
	position: relative;
	left: 0;
	overflow: hidden;
}
.upper__card {
	width: 100%;
	height: 100%;
	position:absolute;
	left: 0;
}
.upper__card {
	background: var(--main-color);
	z-index: 2;
}
.upper__card::after {
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	top: 0;
	right: -200px;
	border-bottom: 420px solid var(--main-color);
	border-right: 200px solid transparent;
}
.info,
.social {
	margin: 0 auto;
	width: 80%;
	height: 50%;
}
.info {
	margin-top: 10px;
	padding-top: 70px;
	text-align: center;
	border-bottom: 1px solid rgba(255,255,255,0.75);
}
.info h3 {
	font-size: 3em;
	margin-bottom: 8px;
}
.info p:nth-child(2) {
	font-size: 1.5em;
	margin-bottom: 5px;
}
.info p:nth-child(3) {
	font-size: 1.2em;
}

.profile {
	color: #fff;
	padding-top: 25px;
	font-size: 80px;
}

.btn-delete {
	width: 200px;
	background-color: red;
	color: white;
}
.btn-edit {
	width: 200px;
	background-color: blue;
	color: white;
}

.card-options{
	position: absolute;
	display: block;
	bottom:0;
	left: 0;
	right: 0;
	width: 100%;
	height: 50px;
	background-color: red;
	z-index: 2;
}

.card-options .btn-option-editar{
	position: relative;
	width: 50%;
	height: 100%;
	box-sizing: border-box;
	background-color: #1f648b;
	border-width: 0;
	float: left;
}

.card-options .btn-option-eliminar{
	position: relative;
	width: 50%;
	height: 100%;
	box-sizing: border-box;
	background-color: #ed1c24;
	border-width: 0;
	float: left;
}